---
import Hello from './_hello.vue'
import Morning from './_morning.vue'
---
<style>
	.hello-astro {
		color:cyan;
	}
</style>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p class="hello-astro">hello astro</p>
		<Hello client:only="vue"/>
	<Morning clinet:only="vue"/>
	</body>
</html>
